<!doctype html>
<html lang="en">
    <!-- CS:2420 Group 3-->
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <title>Group 3 - Results</title>
    </head>
    
    <body>
        <div class="col d-flex justify-content-center">
            <div class="card text-center w-90">
                <div class="card-header">
                    <h2>Search Items</h2>
                </div>
                <div class="card-body">
                    <table class = "table table-hover" border="1" cellpadding="5" cellspacing="5">
                        {% for row in data %}
                            <tr>
                            {% for d in row %}
                                <td>{{ d }}</td>
                            {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>